body {
  margin: 20px;
  /*
  Challenge:
  Find a web safe font you like, and add it 
  to your card.
  */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.avatar {
  width: 300px;
}

.card {
  width: 500px;
  margin: auto;
  padding: 20px;
  justify-content: space-between;
  text-align: center;
  background: #ddebf8;
  color: #2b2839;
  border-bottom: 6px solid #d8cefe;
  border-radius: 10px 20px;
      
  /*
  Challenge:
  Find a color palette you like on Coolors.co
  and use it in your business card.
   */
}

.border-blue {
  border: 1px dotted blue;
}

h3{
  text-shadow: 1px 1px;
}

p{
  text-shadow: 1px 1px;
}

h4{
  text-shadow: 1px 1px;
}

.btn{
  border: 1px solid blue;
  background: none;
  padding: 10px 20px;
  font-family: "montserat";
  cursor: pointer;
  margin: 10px;
  color: #3498db;
  transition: 0.8s;
  
}

.btn1,:hover{
  color: #3498db;
}